<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>    
    <!--Change below data source, catalog, id, and password to actual correct values.-->
    <add name="DMS" connectionString="Data Source=127.0.0.1;Initial Catalog=ALI_DB;User Id=AliAdmin;Password=Ali$X!; Min Pool Size=1000; Max Pool Size=5000; Pooling=True; Connection Timeout=0" providerName="System.Data.SqlClient" />    
  </connectionStrings>
</configuration>